<!DOCTYPE html>
<html>
  <head>
    <title>Robingood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "buyingPower": <%= current_user.buying_power %>
        };
      </script>
    <% end %>
    <script type="text/javascript">
      window.cloudiexAPIKey = "<%= Rails.application.credentials.cloudIEX[:api_key] %>"
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R4WB2T53GG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R4WB2T53GG');
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
